/* form.component.scss */

.form-card {
    width: 914px;
    margin: 0 auto;
    padding: 16px;

    .full-width {
        width: 100%;
    }
}

.mat-headline-5 {
    text-align: center;
}

mat-chip-row {
    padding: 4px;
}

.tagOption {
    z-index: 1000;
    background-color: white !important;
}

.error {
    color: red;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.comment-preview {
    width: 840px;
    margin-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
    border: solid;
    border-width: 1px;
    border-color: var(--mat-standard-button-toggle-divider-color);
}

.button-container {
    text-align: center;
}