/* form.component.scss */

.form-card {
    width: 500px;
    margin: 0 auto;
    padding: 16px;

    .full-width {
        width: 100%;
    }
}

.mat-headline-5,
.form-button {
    text-align: center;
}

mat-chip-row {
    padding: 4px;
}

.tagOption {
    z-index: 1000;
    background-color: white !important;
}