@use "@angular/material" as mat;

@import '~normalize.css';

// Define theme
@include mat.core();

$my-primary: mat.define-palette(mat.$blue-palette, 500);
$my-accent: mat.define-palette(mat.$grey-palette, 700);
$my-warn: mat.define-palette(mat.$red-palette);
$my-typography: mat.define-typography-config($font-family: "Roboto"
  );

$my-theme: mat.define-light-theme((color: (primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn ),
      typography: mat.define-typography-config(),
      density: 0,
    ));

@include mat.all-component-themes($my-theme);
// If you want to emit components one by one
// @include mat.core-theme($my-theme);
// @include mat.button-theme($my-theme);
@include mat.typography-hierarchy($my-typography);