.container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-wide {
    width: 55%;
}

.card-mid {
    width: 48%;
}


.card-title {
    margin-left: auto;
    margin-right: auto;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-button {
    margin-right: auto;
    margin-left: auto;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}