<mat-toolbar color="primary" class="header">
  <div class="header-head" (click)="goToHome()">
    <mat-icon>bug_report</mat-icon>&nbsp;
    <span>oBugs</span>
  </div>
  <ng-template [ngIf]="software !== undefined">
    <div>></div>
    <div class="header-software" (click)="goToDashboard()">{{software.fullName}}</div>
  </ng-template>

  <div class="loginArea">

    <ng-template [ngIf]="authService.current_user">
      <button mat-icon-button aria-label="Person" matTooltip="Account" (click)="goToAccount()">
        <mat-icon>person</mat-icon>
      </button>
      {{authService.current_user.username}}
      <button mat-icon-button aria-label="Logout" matTooltip="Logout" (click)="authService.logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </ng-template>

    <ng-template [ngIf]="!authService.isLogged()">
      <button mat-icon-button aria-label="Login" matTooltip="Login" (click)="goToLogin()">
        <mat-icon>login</mat-icon>
      </button>
    </ng-template>
  </div>

</mat-toolbar>