<mat-toolbar color="primary" class="header">
  <div class="header-head" (click)="goToHome()">
    <mat-icon>bug_report</mat-icon>
    <span>oBugs</span>
  </div>
  <ng-template [ngIf]="software !== undefined">
    <div>></div>
    <div class="header-software" (click)="goToDashboard()">{{software.fullname}}</div>
  </ng-template>

  <div class="loginArea">

    <ng-template [ngIf]="user">
      {{ user.name }}
      <button mat-icon-button aria-label="Logout" (click)="signOut()">
        <mat-icon>logout</mat-icon>
      </button>
    </ng-template>

    <ng-template [ngIf]="!user">


      <asl-google-signin-button class="mx-5"></asl-google-signin-button>
    </ng-template>
  </div>

</mat-toolbar>