.header {
  display: flex;
  justify-content: flex-start;
  font-size: 24px;
  gap: 15px;
}

.header-head {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-software {
  cursor: pointer;
}

.loginArea {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menuButton {
  display: flex;
  align-items: center;
  gap: 15px;
}