<div class="body mat-app-background" [class.darkMode]="darkMode">
    <div class="sidebar">
        <mat-nav-list>
            <mat-list-item routerLink="/" (mousedown)="handleMiddleMouseClick($event, '/')"
                [activated]="currentUrl == '/'" class="sidebar-item sidebar-item-first">
                <div class="sidebar-item-content">
                    <div class="sidebar-item-icon"><mat-icon>bug_report</mat-icon></div>
                    <div class="sidebar-item-text">oBugs</div>
                </div>
            </mat-list-item>

            <mat-list-item routerLink="/apps" (mousedown)="handleMiddleMouseClick($event, '/apps')"
                [activated]="currentUrl == '/apps'" class="sidebar-item">
                <div class="sidebar-item-content">
                    <div class="sidebar-item-icon"><mat-icon>apps</mat-icon></div>
                    <div class="sidebar-item-text">Apps</div>
                </div>
            </mat-list-item>

            @if (currentUser != null && currentUser.isAdmin) {
            <mat-list-item routerLink="/admin" [activated]="currentUrl == '/admin'"
                (mousedown)="handleMiddleMouseClick($event, '/admin')" class="sidebar-item">
                <div class="sidebar-item-content">
                    <div class="sidebar-item-icon"><mat-icon>admin_panel_settings</mat-icon></div>
                    <div class="sidebar-item-text">Admin</div>
                </div>
            </mat-list-item>
            }

            <mat-divider></mat-divider>

            @if (currentSoftwareId != null) {
            <mat-list-item routerLink="/s/{{currentSoftwareId}}" [activated]="currentUrl == '/s/' + currentSoftwareId"
                (mousedown)="handleMiddleMouseClick($event, '/s/' + currentSoftwareId)" class="sidebar-item">
                <div class="sidebar-item-content">
                    <div class="sidebar-item-icon">
                        <img class="software-icon" src="assets/icons/{{currentSoftwareId}}.png"
                            alt="{{currentSoftwareId}}">
                    </div>
                    <div class="sidebar-item-text">{{currentSoftwareId}}</div>
                </div>
            </mat-list-item>
            }

            @if (currentSoftwareId != null && currentUser != null &&
            (auth.isAdmin() || auth.isRole(currentSoftwareId, 1) || auth.isRole(currentSoftwareId, 2) ||
            auth.isRole(currentSoftwareId, 4))) {
            <mat-list-item [activated]="currentUrl == '/s/' + currentSoftwareId + '/manage'"
                routerLink="/s/{{currentSoftwareId}}/manage"
                (mousedown)="handleMiddleMouseClick($event, '/s/' + currentSoftwareId + '/manage')"
                class="sidebar-item">
                <div class="sidebar-item-content">
                    <div class="sidebar-item-icon"><mat-icon>groups_3</mat-icon></div>
                    <div class="sidebar-item-text">Manage</div>
                </div>
            </mat-list-item>
            }

            @if (currentSoftwareId != null && currentUser != null){
            <mat-list-item [activated]="currentUrl == '/s/' + currentSoftwareId + '/new'"
                routerLink="/s/{{currentSoftwareId}}/new"
                (mousedown)="handleMiddleMouseClick($event, '/s/' + currentSoftwareId + '/new')" class="sidebar-item">
                <div class="sidebar-item-content">
                    <div class="sidebar-item-icon"><mat-icon>add</mat-icon></div>
                    <div class="sidebar-item-text">New</div>
                </div>
            </mat-list-item>
            }

        </mat-nav-list>

        <button class="dark-light-switch" (click)="toggleDarkMode()">
            <div class="switch-icon">
                @if (darkMode) {
                <mat-icon>wb_sunny</mat-icon>
                } @else {
                <mat-icon>nights_stay</mat-icon>
                }
            </div>
        </button>
    </div>

    <div class="right-panel">
        <div class="top-bar">
            @if (auth.current_user) {
            <app-username [user]="currentUser"></app-username>
            <button (click)="auth.logout()" mat-mini-fab aria-label="Logout" color="primary" matTooltip="Logout">
                <mat-icon>logout</mat-icon>
            </button>
            } @else {
            <button routerLink="/login" mat-mini-fab aria-label="login" color="primary" matTooltip="Login">
                <mat-icon>login</mat-icon>
            </button>
            }
        </div>

        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<re-captcha #captchaRef="reCaptcha" (resolved)="resolved($event)" size="invisible" [siteKey]="siteKey"></re-captcha>