<mat-toolbar color="primary">
  <span>oBugs</span>
  <div style="right: 0; position:absolute"><a routerLink="/login">Login</a></div>
</mat-toolbar>

<div>
  <div class="software-container">
    <mat-card class="software">
      <mat-card-header>
        <div mat-card-avatar class="software-header-image" style="background-image: url('/assets/dota.ico.png')">
        </div>
        <mat-card-title class="software-title">Dota 2</mat-card-title>
        <mat-card-subtitle class="software-subtitle">Valve</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/dota.png" alt="Logo of dota" class="software-image">
    </mat-card>

    <mat-card class="software">
      <mat-card-header>
        <div mat-card-avatar class="software-header-image" style="background-image: url('/assets/dota.ico.png')">
        </div>
        <mat-card-title class="software-title">Dota 2</mat-card-title>
        <mat-card-subtitle class="software-subtitle">Valve</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/dota.png" alt="Logo of dota" class="software-image">
    </mat-card>


    <mat-card class="software">
      <mat-card-header>
        <div mat-card-avatar class="software-header-image" style="background-image: url('/assets/dota.ico.png')">
        </div>
        <mat-card-title class="software-title">Dota 2</mat-card-title>
        <mat-card-subtitle class="software-subtitle">Valve</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/dota.png" alt="Logo of dota" class="software-image">
    </mat-card>

    <mat-card class="software">
      <mat-card-header>
        <div mat-card-avatar class="software-header-image" style="background-image: url('/assets/dota.ico.png')">
        </div>
        <mat-card-title class="software-title">Dota 2</mat-card-title>
        <mat-card-subtitle class="software-subtitle">Valve</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/dota.png" alt="Logo of dota" class="software-image">
    </mat-card>

    <mat-card class="software">
      <mat-card-header>
        <div mat-card-avatar class="software-header-image" style="background-image: url('/assets/dota.ico.png')">
        </div>
        <mat-card-title class="software-title">Dota 2</mat-card-title>
        <mat-card-subtitle class="software-subtitle">Valve</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/dota.png" alt="Logo of dota" class="software-image">
    </mat-card>

    <mat-card class="software">
      <mat-card-header>
        <div mat-card-avatar class="software-header-image" style="background-image: url('/assets/dota.ico.png')">
        </div>
        <mat-card-title class="software-title">Dota 2</mat-card-title>
        <mat-card-subtitle class="software-subtitle">Valve</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/dota.png" alt="Logo of dota" class="software-image">
    </mat-card>

    <mat-card class="software">
      <mat-card-header>
        <div mat-card-avatar class="software-header-image" style="background-image: url('/assets/dota.ico.png')">
        </div>
        <mat-card-title class="software-title">Dota 2</mat-card-title>
        <mat-card-subtitle class="software-subtitle">Valve</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/dota.png" alt="Logo of dota" class="software-image">
    </mat-card>

    <mat-card class="software">
      <mat-card-header>
        <div mat-card-avatar class="software-header-image" style="background-image: url('/assets/dota.ico.png')">
        </div>
        <mat-card-title class="software-title">Dota 2</mat-card-title>
        <mat-card-subtitle class="software-subtitle">Valve</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/dota.png" alt="Logo of dota" class="software-image">
    </mat-card>
  </div>
</div>
