<app-layout>

  <mat-card class="title-card">
    <mat-card-content class="title-card-content">
      <div class="mat-headline-1">oBugs</div>
      <div class="title-card-subtitle mat-headline-5">oBugs is a community-driven bug tracking system where users curate
        a live database of
        known issues for their favorite software.</div>
      <button mat-raised-button color="primary" class="title-card-button" routerLink="/apps">Start Contributing</button>
    </mat-card-content>
  </mat-card>

</app-layout>