.title-card-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title-card-subtitle {
  max-width: 700px;
  align-self: center;
}

.title-card-button {
  max-width: 200px;
  align-self: center;
}