<h1>oBugs</h1>
<div id="index-subtitle">
  oBugs is a community driven bug-reporting system.
  This is a centralized place for users to report dysfunctions in software programs and help developers fixing them.
</div>

<div id="index-panels">
  <div id="index-panel1">
    <p>
      Learn more about the <a href="#index-description">motivations</a> behind the oBugs platform or peek at the <a href="#index-free">financial situation</a>.
    </p>
  </div>
  <div id="index-panel2">
    <p>
      Access the list of all <a routerLink="/software">software programs</a> having a sub-oB available.
    </p>
  </div>
  <div id="index-panel3">
    <p>
      First time contributing? Don't worry, your are welcomed. Discover the <a href="#index-good-practices">good practices</a> and start reporting.
    </p>
  </div>
</div>

<div id="index-description">
  <h2>Why oBugs?</h2>
  <p>
    oBugs is a collaborative platform where users can report the bugs they found in the software programs they use.
    Usually, developers use bug tracking systems inside their company's process, but users have no visibility over it.
    When a user encounter a dysfunction, they can usually report them only through ineffective means - forums and social networks.
    These tools make it hard for users to -
  </p>
    <ul>
      <li>know if a bug has already been reported by someone</li>
      <li>know if developers are aware of it</li>
      <li>signal if they are also impacted</li>
      <li>follow any possible resolution</li>
    </ul>
  <p>
    oBugs aims to streamline the bug reporting so users can improve the software programs they use while avoiding the flaws of classic systems.
  </p>
</div>

<div id="index-free">
  <h2>Who is paying for this?</h2>
  <p>
    Using oBugs as a software program user or a developer is free. No stat is collected.
    Some advertisements are displayed to maintain financial equilibrium.
    If you like this platform, you can also <a href="https://www.tipeeestream.com/philaeux/donation">donate</a> to help the development process.
  </p>
</div>

<div id="index-good-practices">
  <h2>Good practices</h2>
  <ul>
    <li>
      <h3>Which language should be used for a sub-oBug?</h3>
      <p>
        Every sub oBug is dedicated to one specific software program, or website, and should be using the language the developers of such program are using.
        This platform is used to inform users of current bugs in the applications, but also to link this knowledge to the one able to fix them.
        As such, developers have the last word to decide which language should be the main one on a sub, and mods will enforce it.
      </p>
    </li>
    <li>
      <h3>Always search first</h3>
      <p>
        The bug you encounter may already be present in the database, reported by another user.
        Avoid duplication.
        Use the tools available to rate how important a bug sounds to you.
      </p>
    </li>
    <li>
      <h3>Be formal and informative</h3>
      <p>
        The goal is to help the development process by giving information to the people able to change the situation.
        Be straightforward, concise, and avoid emotions and rant.
        Forums and Reddit are here for that.
      </p>
    </li>
    <li>
      <h3>Illustrations and examples</h3>
      <p>
        When you report bugs, it is good practice to provide ways to reproduce it or illustrations of the problem.
        We strongly advice users to either take pictures and host on imgur or even or record a video of the bug happening and host it on youtube.
        Reproduction steps are the best information you can give.
      </p>
    </li>
    <li>
      <h3>Admins, Devs and Mods</h3>
      <p>
        OBugs administrators can modify all the bugs of the platform but they mainly manage rights requests.
        Developers of a program can request rights to manage the part dedicated to their software.
        Their request is accepted by website admins, and they will ask for some kind of identity proof.
        Users giving a lot of time to manage bugs can also request to become moderators.
        These requests are managed either by oBugs admin or developers.
      </p>
    </li>
  </ul>
</div>
