<div class="dashboard">
  <div class="panel">
    <div class="filters-1">
      <mat-form-field class="filters-1-input">
        <mat-label>Search</mat-label>
        <input matInput placeholder="..." [(ngModel)]="searchFilter" (keyup.enter)="onFiltersChange()"
          matTooltip="Enter to search">
      </mat-form-field>
      <div class="filters-1-div">
        <mat-button-toggle-group name="ordering" aria-label="Order By" [(ngModel)]="orderingFilter"
          (change)="onFiltersChange()">
          <mat-button-toggle value="updated" matTooltip="Order by last update">Date</mat-button-toggle>
          <mat-button-toggle value="rating" matTooltip="Order by entry impact">Impact</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="filters-2">
      <mat-button-toggle-group name="status" aria-label="Status" multiple [(ngModel)]="statusFilter"
        (change)="onFiltersChange()">
        <mat-button-toggle value="NEW" matTooltip="Every new entry on the website.">
          New</mat-button-toggle>
        <mat-button-toggle value="CONFIRMED" checked
          matTooltip="The Bug has been confirmed by the community.">Confirmed</mat-button-toggle>
        <mat-button-toggle value="WIP" checked
          matTooltip="Developers have informed that they are working on a fix for this bug.">WIP</mat-button-toggle>
        <mat-button-toggle value="CHECK" checked
          matTooltip="A fix has been deployed, or the bug is very old. A bug check is necessary.">Check</mat-button-toggle>
        <mat-button-toggle value="FIXED"
          matTooltip="Bug has been dealt with and is not present anymore.">Fixed</mat-button-toggle>
        <mat-button-toggle value="EXPECTED"
          matTooltip="The described entry is the intended behavior. No Action required.">Expected</mat-button-toggle>
        <mat-button-toggle value="DUPLICATE"
          matTooltip="This entry is a duplicate of another already open bug.">Duplicate</mat-button-toggle>
        <mat-button-toggle value="CLOSED"
          matTooltip="This entry is out of scope (ex: customer support, non-sensical).">Closed</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="bug-list">
      @for (entry of filteredEntries; track entry) {
      <app-bug-row (click)="openBugDetails(entry, false)" (mousedown)="handleMiddleMouseClick($event, entry)"
        [entry]="entry"></app-bug-row>
      }
    </div>
    @if (filterHasMore) {
    <div class="more-button">
      <button mat-raised-button (click)="getMoreFiltered()" color="primary">Get More</button>
    </div>
    }
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="panel">
    <div class="bug-list">
      @for (entry of newEntries; track entry) {
      <app-bug-row (click)="openBugDetails(entry, false)" (mousedown)="handleMiddleMouseClick($event, entry)"
        [entry]="entry"></app-bug-row>
      }
    </div>
  </div>
</div>