.dashboard-main {
    display: flex;
    flex-direction: row;
}

.bug-divider {
    min-height: calc(100vh - 64px - 40px);
}

.bug-all,
.bug-families {
    flex-grow: 1;
}

.bug-all {
    margin-right: 8px;
}

.bug-families {
    margin-left: 8px;
}

.bug-new {
    margin-bottom: 8px;
}

.bug-confirmed {
    margin-top: 8px;
}

.bug-row {
    line-height: 34px;
    font-size: 16px;
}