.dashboard {
    min-height: 100%;
    display: flex;
    gap: 4px;
    align-items: stretch;
}

.panel {
    flex-grow: 1;
    flex-basis: calc(50% - 4px);

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.bug-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.more-button {
    text-align: center;
}