<mat-form-field class="full-width">
  <mat-label>Tags</mat-label>
  <mat-chip-grid #chipGrid aria-label="Add tags related to your issue.">
    @for (tag of selectedTags; track tag) {
      <mat-chip-row (removed)="removeTag(tag)" [editable]="false">
        {{tag}}
        <button matChipRemove [attr.aria-label]="'remove ' + tag">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
    <input #chipInput placeholder="Add tags..." [matChipInputFor]="chipGrid"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="onSeparatorKey($event)" [matAutocomplete]="auto"
      (input)="filterTagSuggestions($event)" />
  </mat-chip-grid>
  <mat-autocomplete #auto="matAutocomplete" #autoComple (optionSelected)="onTagOptionSelected($event)">
    @for (tag of suggestedTags; track tag) {
      <mat-option [value]="tag" class="tagOption">
        {{ tag }}
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>