<app-header [software]=software></app-header>

<app-software-sidenav>


    <div *ngIf="entry != null">
        <p class="mat-headline-2">#{{entry.id}} - {{entry.title}}</p>
        <p class="mat-subtitle-2 paddedText">Created on {{entry.createdAt | date: 'MMMM d, y, H:mm:ss'}}
        </p>
        <p class="mat-subtitle-2 paddedText">Updated on {{entry.updatedAt | date: 'MMMM d, y, H:mm:ss'}}</p>

        <div class="entry-votes">
            <div>
                <span class="capsule {{entry.status}}">{{entry.status}}</span>
            </div>
            <div class="entry-votes-global">
                <div class="entry-impact">{{entry.ratingTotal / entry.ratingCount}}</div>
                <div class="entry-vote-total">({{entry.ratingCount}} Vote<span *ngIf="entry.ratingCount>1">s</span>)
                </div>
            </div>
            <div class="entry-my-vote" *ngIf="auth.isLogged()">
                <mat-button-toggle-group name="myVote" aria-label="My Vote" [(ngModel)]="myVote"
                    (ngModelChange)="onVoteChange()">
                    <mat-button-toggle value="1">1</mat-button-toggle>
                    <mat-button-toggle value="2">2</mat-button-toggle>
                    <mat-button-toggle value="3">3</mat-button-toggle>
                    <mat-button-toggle value="4">4</mat-button-toggle>
                    <mat-button-toggle value="5">5</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
        <p clas="mat-headline-6">Links</p>
        <p class="mat-body-1 paddedText" *ngIf="entry.illustration === ''">No illustration link</p>
        <p class="mat-body-1 paddedText" *ngIf="entry.illustration != ''">{{entry.illustration}}</p>
        <p clas="mat-headline-6">Description</p>
        <p class="mat-body-1 paddedText">{{entry.description}}</p>
        <mat-divider></mat-divider>
    </div>

    <div *ngIf="entry == null">
        <div class="spinnerContainer">
            <mat-spinner class="spinner" [diameter]="30"></mat-spinner>
            <p class="mat-headline-4 spinnerText">Loading bug information...</p>
        </div>
    </div>

</app-software-sidenav>