.bug {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: solid;
    border-color: var(--mat-divider-color);
    border-width: 1px;
    padding-right: 4px;
    overflow: hidden;
}

.bug-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: calc(100% - 50px);
}

.bug:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.04);
}

.bug-impact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;

    font-size: 26px;
    font-weight: 400;
    font-family: Roboto;

    border-right: solid;
    border-color: var(--mat-divider-color);
    border-width: 1px;
}

.bug-rows {
    display: flex;
    flex-direction: column;
    line-height: 24px;
    font-size: 16px;
    flex-grow: 1;
    width: calc(100% - 55px);
}

.bug-row-1,
.bug-row-2 {
    display: flex;
    align-items: center;
    gap: 4px;
}

.bug-updated-at {
    margin-left: 4px;
    margin-right: 4px;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
}

.comment-icon {
    margin-top: 4px;
}

.comment-icon,
.patch-icon {
    font-size: 22px;
    vertical-align: middle;
    margin-right: -4px;
}

.bug-title {
    font-weight: 500;
    font-size: 16px;
    text-wrap: nowrap;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}